.contacts-modal {
  text-align: center;

  .contacts-modal-header {
      padding-bottom: 20px;

    .modal-random-button {
      padding-top: 10px;
    }
  }
}

.modal-field {
  margin-bottom: 10px;
}

.modal-primary-buttons{
  margin-bottom: 30px;
  padding: 10px;
  display: inline-block;
}