.progress-modal {
  text-align: center;

  .contacts-progress-bar {
    padding: 40px;
  }

  // remove animated vertical dropdown

  .modal.fade {
    opacity: 1;
  }

  .modal.fade .modal-dialog, .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.contacts-progress-bar {
  transition: width 1s ease-in-out;
}