block content
	div(ng-controller='GridCtrl')
		div.progress-modal
			h3 Progress
			div.contacts-progress-bar
				progressbar.progress-striped.active(animate='true', type='success',
					value='progressValue', max='100')
