div.container-fluid.well
	div.col-md-6
		div.contact-name
			div.h2.contact-first-name(tooltip='First name', tooltip-placement='right')
			div.h2.contact-last-name(tooltip='Last name', tooltip-placement='right')
		div.h5.contact-phone(tooltip='Phone', tooltip-placement='right')
		div.h5.contact-email(tooltip='Email', tooltip-placement='right')
		div.h5.contact-skype(tooltip='Skype', tooltip-placement='right')
		div.contact-address
			div.h5.contact-street-address(tooltip='Street Address', tooltip-placement='right')
			div.h5.contact-secondary-address(tooltip='Secondary Address', tooltip-placement='right')
			div.h5.contact-city-state(tooltip='City, State', tooltip-placement='right')
			div.h5.contact-zip(tooltip='Zip', tooltip-placement='right')
	div.col-md-6
		div.contact-pane-avatar
			img(src="http://upload.wikimedia.org/wikipedia/en/b/b1/Portrait_placeholder.png" height="250" width="250")