#contact-details-pane {
  margin-top: 55px;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  border-radius: $border-radius-large;

  .contact-pane-avatar img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  .contact-name {
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;

    .contact-first-name {
      margin-bottom: 10px;
      margin-top: 0px;
    }

    .contact-last-name {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

  .contact-address {
    margin-top: 20px;

    .contact-street-address {
    }

    .contact-secondary-address {
    }

    .contact-city-state {
    }

    .contact-zip {
    }
  }
}