#contact-details-pane {
  border-style: none !important;
  margin-top: 55px;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  border-radius: $border-radius-large;

  .contact-pane-avatar img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: 20px;
  }

  .contact-name {
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;

    .contact-first-name {
      margin-top: 0px;
      display: inline;
      display: inline;
    }

    .contact-last-name {
      margin-bottom: 0px;
      margin-top: 0px;
      display: inline;
    }
  }

  .contact-phone, .contact-email, .contact-skype {
    text-align: center;
  }

  .contact-address {
    text-align: left;
    margin-bottom: 20px;

    .editable-input {
      margin-left: -100px;
      @media screen and (max-width: 867px) {
        margin-left: 0px;
      }
    }

    .contact-street-address {
    }

    .contact-secondary-address {
    }

    .contact-city {
    }

    .contact-state {
    }

    .contact-zip {
      text-align: right;
    }
  }
}

// override xeditable styles
.editable-empty {
  visibility: hidden;
}

.editable-click {
  border-bottom-style: none !important;
  color: darken($brand-primary, 10%) !important;
}

.editable-input {
  max-width: 300px;

  @media screen and (max-width: 1300px) {
    max-width: 200px;
  }
}

.hover-lighten {
  color: lighten($brand-primary, 20%) !important;
}

