extends ../default

block content
	div.container
		div#contactsHeader.row
			div.(ng-controller='ModalCtrl')
				button.#newContactButton.btn.btn-large.btn-primary(type='button',
					ng-click='open()') Create Contact

	table#contactsTable.display.compact
		thead
			tr
				th First
				th Last
				th Phone
				th Email
				th
		tbody(ng-repeat='contact in contacts')
			tr
				td {{contact.firstName}}
				td {{contact.lastName}}
				td {{contact.phone}}
				td {{contact.email}}
				td
					li.btn.btn-success(type='button', ng-click='deleteContact(contact._id)')
						i.fa.fa-minus

block js
	script(src='./faker.js')