extends ../default

block content
	div.container-fluid
		div.row-fluid.main-app(ng-controller='GridCtrl')
			div.col-md-7.contacts-toolbar
				div.centered
					div.row-fluid.contacts-toolbar-controls
						div.col-md-6
							div.create-contact(ng-controller='ModalCtrl')
								button.btn.btn-large.btn-primary(type='button',
									ng-click='open()')
									i.fa.fa-plus &nbsp;Add New Contact
						div.col-md-6
							div.delete-selected.btn.btn-large.btn-warning(type='button',
									ng-click='deleteSelected()')
									i.fa.fa-trash &nbsp;Delete Selected
				div.contacts-grid
					div.gridStyle(ui-grid='gridOptions', ui-grid-selection, ui-grid-edit)

			div.col-md-5
				div#contact-details-pane(contact-details)



block js
	script(src='./faker.js')