.main-app {

  .contacts-toolbar {

    .centered {
      text-align: center;

      .contacts-toolbar-controls {
        display: inline-block;

          .btn {
            margin-bottom: 15px;
          }
        }

    }

  }

  .gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 600px;
    width: auto;
  }

  #contact-details-pane {
    margin-top: 55px;

    .contact-name {
      margin-bottom: 20px;
    }

    .contact-address {
      margin-top: 20px;

      .contact-street-address {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .contact-secondary-address {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .contact-city-state {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .contact-zip {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

}






