.main-app {

  .contacts-toolbar {

    .centered {
      text-align: center;

      .contacts-toolbar-controls {
        display: inline-block;

          .create-contact {
            padding-bottom: 15px;
          }
        }

    }

  }

  .gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 600px;
    width: auto;
  }

  #contact-pane {
    margin-top: 55px;
  }

}






