extends ../default

block content
	div.container-fluid
		div.row-fluid.main-app(ng-controller='GridCtrl')
			div.col-md-7.contacts-toolbar
				div.centered
					div.row-fluid.contacts-toolbar-controls
						div.col-md-6
							div.create-contact(ng-controller='ModalCtrl')
								button.btn.btn-large.btn-primary(type='button',
									ng-click='open()')
									i.fa.fa-plus &nbsp;Add New Contact
						div.col-md-6
							div.delete-selected.btn.btn-large.btn-warning(type='button',
									ng-click='deleteSelected()')
									i.fa.fa-trash &nbsp;Delete Selected
				div.contacts-grid
					div.gridStyle(ui-grid='gridOptions', ui-grid-selection)

			div.col-md-5
				div#contact-details-pane.well
					div.container-fluid
						div.col-md-6
							div.h2.contact-name
							div.h5.contact-phone(tooltip='Phone', tooltip-placement='left')
							div.h5.contact-email(tooltip='Email', tooltip-placement='left')
							div.h5.contact-skype(tooltip='Skype', tooltip-placement='left')
							div.contact-address
								div.h5.contact-street-address(tooltip='Street Address', tooltip-placement='left')
								div.h5.contact-secondary-address(tooltip='Secondary Address', tooltip-placement='left')
								div.h5.contact-city-state(tooltip='City, State', tooltip-placement='left')
								div.h5.contact-zip(tooltip='Zip', tooltip-placement='left')
						div.col-md-6
							div.contact-pane-avatar
								img(src="http://upload.wikimedia.org/wikipedia/en/b/b1/Portrait_placeholder.png" height="250" width="250")



block js
	script(src='./faker.js')