.main-app {

  font-size: 14px;

  .alert-error {
    background-color: lighten($brand-danger, 10%);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

  .animate-repeat {
    line-height:25px;
    list-style:none;
    box-sizing:border-box;
  }

  .animate-repeat.ng-move,
  .animate-repeat.ng-enter,
  .animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

  .animate-repeat.ng-leave.ng-leave-active,
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter {
    opacity: 0;
  }

  .animate-repeat.ng-leave,
  .animate-repeat.ng-move.ng-move-active,
  .animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
  }

  .contacts-toolbar {

    .centered {
      text-align: center;

      .contacts-toolbar-controls {
        display: inline-block;

          .btn {
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: bold;
          }
        }
    }

    .select-all {

      margin-left: 25px;
      padding-bottom: 10px;

      .select-all-label {
        padding-top: 5px;
        padding-left: 10px;
      }

    }

  }

  .gridStyle {
    border: 3px solid rgb(212,212,212);
    height: 600px;
    width: auto;
    margin-bottom: 45px;
    background-color: #FFF;
    border-radius: $border-radius-large;

    .ui-grid-row:nth-child(even) .ui-grid-cell {
      background-color: lighten($gray-lighter, 5%);
    }

    .ui-grid-cell-contents {
      padding-left: 10px;
    }

    .ui-grid-top-panel {
      padding-top: 4px;
      border-top-right-radius: $border-radius-large;
      border-top-left-radius: $border-radius-large;
    }

    .ui-grid-canvas {
    }
  }
}

